<div class="container">
  <h1>New Quote</h1>

  <form class="new_quote_form">
    <input type="text" name="title" [(ngModel)]="quote.title" placeholder="Title"/>
    <textarea type="text" name="body" [(ngModel)]="quote.body" placeholder="Body"></textarea>
    <input type="text" name="size" [(ngModel)]="quote.size" placeholder="Full"/>
    <input type="number" name="price" [(ngModel)]="quote.price" placeholder="Price"/>
    <input class="btn green" type="submit" name="save" value="Create Quote" (click)="createQuote()">
  </form>
</div>
