<div *ngIf="quotes" class="row">
  <div *ngFor="let quote of quotes" class="col s12 m6">
    <div class="card blue white-text">
      <div class="card-content">
        <h3 class="quote-title">{{quote.title}}</h3>
        <p>{{quote.body}}</p>
        <h5>{{quote.price | currency:"USD":true}}</h5>
      </div>
      <div>
        <a class="btn white blue-text" (click)="gotoDetail()" [routerLink]="['/quotes', quote.id]">View Quote Details</a>
      </div>
    </div>
  </div>
</div>



<div>
  <a class="btn green" (click)="gotoCreate()" routerLink="/quote/new">Create A New Quote</a>
</div>
