.quote_section {
  background-color: white;
  padding: 5em;
  margin-top: 5em;
}

.edit_form {
  margin-bottom: 5em;
}

.hero_detail_btns {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}
